{{#each rows}}
	<tr>
		<td>
			<a href="{{../adminUrl}}/exceptions/edit/{{id}}" style="font-size: medium">
				{{#each exception as |value key|}}
					{{truncate value 100}}
				{{/each}}
			</a>
		</td>
		<td>{{ip}}</td>
		<td>{{created_at}}</td>
		<td>
			{{#compare type '===' 'back'}}
				<span class="badge badge-pill badge-success">
					Back end
				</span>
			{{/compare}}
			{{#compare type '===' 'front'}}
				<span class="badge badge-pill badge-primary">
					Front end
				</span>
			{{/compare}}
		</td>
	</tr>
{{/each}}
