<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<div class="form-group form-group-default">
			<label for="widget-search-{{table_id}}">Cerca</label>
			<input type="text" class="form-control input-sm" id="widget-search-{{table_id}}" autocomplete="off">
		</div>
	</div>
</div>
<table id="{{table_id}}" class="table table-striped table-valign dataTable no-footer">
	<thead>
	<tr>
		{{#th}}
			<th class="{{text}} sorting">
				{{text}}
			</th>
		{{/th}}
	</tr>
	</thead>
	<tbody>
	{{#tr}}
		<tr>
			{{#td}}
				<td>
					{{value}}
				</td>
			{{/td}}
		</tr>
	{{/tr}}
	</tbody>
</table>
